<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspecciones realizadas</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!--enlace con biblioteca de iconos de bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-calendar/css/calendar.min.css" rel="stylesheet">
    <!-- Estilos CSS para bootstrap-calendar -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--boostrap-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!--tipo de fuete google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <!--enlace con fuente de letra estilo montserrat-->
    <!--estilos del navegador-->
    <link rel="stylesheet" href="../views/main.css">
    <!--estilos editados del boostrap-->
    <link rel="icon" type="image/x-icon"    href="../views/logo/logimag.png">

</head>

<body>

    <!--NAVEGAVOR ICONOS Y LOGO-->
    <div id="navbar"></div>
    <script src="nav.js"></script>
    

    <!--FIN NAVEGAVOR ICONOS Y LOGO-->

    <div class="row d-flex justify-content-center">
        <div
            class="col-md-11 p-3 d-flex justify-content-between aling-items-center border-bottom border-gris-oscuro border-2">
            <h2 class=" mt-1 text-success fw-semibold" id="tituloRegistro">Inspecciones</h2>
            <button class="btn btn-secondary " onclick="window.location.href='inicio.html'">Inicio</button>
            <!--encabezado, tamaño (h2)=32px, para titulos, color verde, peso de fuente (semibold)-->
        </div>
    </div>


    <div class="container-fluid mt-5 d-flex justify-content-center">
        <div class="row">
            <!-- Panel izquierdo: Lista de notificaciones -->
            <div class=" w-auto col-md-5 bg-gris-claro p-4 border border-2 border-azul-institucional rounded-3 ">

                <h5 class="text-azul-institucional fw-semibold">Inspecciones realizadas</h5>
                <p class="text-azul-institucional"> Lista de inspecciones. <br> Elija una de las inspecciones, de la mas
                    reciente a la mas antigua.</p>

                <div class="list-group p-2 bg-white border-2 border border-gris-oscuro text-verde-institucional">
                    <button class="btn-gris-claro list-group-item list-group-item-action text-azul-institucional"
                        onclick="mostrarInspeccion('Inspeccion 1', 'Contenido de la Inspeccion 1.')">
                        Inspección 1
                    </button>
                    <button class="btn-gris-claro list-group-item list-group-item-action text-azul-institucional"
                        onclick="mostrarInspeccion('Inspeccion 2', 'Contenido de la Inspeccion 2.')">
                        Inspección 2
                    </button>
                    <button class="btn-gris-claro list-group-item list-group-item-action text-azul-institucional"
                        onclick="mostrarInspeccion('Inspeccion 3', 'Contenido de la Inspeccion 3.')">
                        Inspección 3
                    </button>
                </div>
            </div>

            <!-- Panel derecho: Contenido de la notificación -->
            <div class="w-auto col-md-7 bg-gris-claro p-4 border border-2 border-azul-institucional rounded-3">
                <div class="card">
                    <div class="card-header bg-light"> <!-- Opcional: Da mejor estructura -->
                        <h5 class="card-title fw-semibold text-azul-institucional" id="filtro-titulo">Filtro</h5>
                        <p class="text-azul-institucional">Filtre por cualquiera de las opciones</p>
                    </div>
                    <div class="card-body">
                        <!-- Minicalendario filtro -->
                        <label for="mini-calendar" class="form-label mt-3 text-azul-institucional">Fecha:</label>
                        <input type="date" class="form-control text-azul-institucional" id="mini-calendar">

                        <!-- Etiqueta y desplegable para el  inspector -->
                        <label for="inspector" class="form-label mt-2 text-azul-institucional">Inspector:</label>
                        <select id="inspector" class="form-select text-azul-institucional">
                            <option value="">Seleccione...</option>
                            <option value="opcion1">Opción 1</option>
                            <option value="opcion2">Opción 2</option>
                            <option value="opcion3">Opción 3</option>
                        </select>

                        <!-- Etiqueta y desplegable para el Tipo de inspección -->
                        <label for="tipo-instalacion" class="form-label mt-2 text-azul-institucional">Tipo de
                            instalacion:</label>
                        <select id="tipo-instalacion" class="form-select text-azul-institucional">
                            <option value="">Seleccione...</option>
                            <option value="opcion1">Comercial</option>
                            <option value="opcion2">Linea matriz</option>
                            <option value="opcion3">Recidencial</option>
                        </select>

                        <label for="tipo-servicio" class="form-label mt-2 text-azul-institucional">Tipo de
                            servicio:</label>
                        <select id="tipo-servicio" class="form-select text-azul-institucional">
                            <option value="">Seleccione...</option>
                            <option value="opcion1">Periodica</option>
                            <option value="opcion2">Periodica a la visita</option>
                            <option value="opcion3">Periodica oculta</option>
                            <option value="opcion3">Periodica taponado</option>
                            <option value="opcion3">Previa</option>
                            <option value="opcion3">Puesta en servicio</option>
                            <option value="opcion3">Reforma</option>
                            <option value="opcion3">Reforma taponado</option>
                            <option value="opcion3">Solicitud usuario</option>
                        </select>

                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-azul-institucional text-white mt-5 ">Filtrar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class=" mt-5  p-2 border-top border-2 text-center text-azul-institucional">
        © 2024 - GasInspect - Derechos reservados.
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>