#header {
    background-color: #033076; /* Color de fondo actualizado */
    height: 40px;              /* Altura de la barra */
    width: 100%;               /* Ancho completo de la página */
    position: absolute;           /* Fija la barra en la parte superior */
    top: 0;                    /* Posiciona la barra en la parte superior */
    left: 0;
}
body {
    margin: 0;                 /* Elimina los márgenes del body */
    padding-top: 40px;         /* Espacio para la barra fija */

    /*TIPO DE FUENTE GOOGLE */
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* imagen del logo */
#imga {
    width: 12rem;    /* Ajusta el ancho del logo */
    height: 6rem;    /* Mantiene la proporción original de la imagen */
    /*display: block;  /* Asegura que la imagen se comporte como un bloque */
    margin: 0;  /* Centra la imagen horizontalmente si se usa en un contenedor con ancho definido */
}

/* NAVEGADOR */

#divnavprin{
    border-bottom: 3px solid #1464F6; /* Define el borde inferior en azul */
}
#nav-prin {
    background-color:white;   /* Color de fondo del nav (opcional) */
    text-align: left;       /* Centra el contenido del nav */
    margin-left: 2rem;                /* Mueve el nav 7rem a la derecha */
}

.menu {
         /* Espacio entre los enlaces, espacio externo*/
    text-decoration: none;    /* Elimina el subrayado de los enlaces */
    color: #30B32E;              /* Color del texto de los enlaces */
    text-align: center;
    font-size: 1.2rem;      /* Tamaño de fuente */
    font-weight: 700;          /* Negrilla*/
}

#nav-prin a:hover {
    color: #1464F6;           /* Color de los enlaces al pasar el ratón */
    border: 3px solid #C9D3DD;
}

/*SUBMENU NAVEGADOR*/

.submenu {
    display: none; /* Ocultar el submenú por defecto */
    position: absolute; /* Posicionar el submenú de manera absoluta */
    top: 100%; /* Colocarlo justo debajo del enlace del menú */
    left: 0; /* Alinear el submenú a la izquierda */
    background-color: white; /* Fondo del submenú */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    z-index: 1000; /* Asegurarse de que esté en frente */
    margin-left: 6px; /* Eliminar el margen por defecto */
    padding: 0;
}

.dropdown:hover .submenu {
    display: inline-block; /* Mostrar el submenú al pasar el mouse */
}

.submenu li {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */ 
    list-style-type: none;    /* Elimina las viñetas */
}

.submenu li a {
    display: block; /* Permite que el enlace se ajuste al tamaño del contenido */
    color: #75A9F9;
    padding: 10px 10px;   /* Espaciado interno alrededor del texto del submenú */
    text-decoration: none;
    font-weight: 500;          /* Negrilla*/
}

/* Estilo para el submenú anidado */
.submenuAni {
    display: none; /* Ocultar el submenú anidado por defecto */
    position: absolute; /* Posicionar el submenú de manera absoluta */
    top: 50%; /* Alinear al mismo nivel verticalmente */
    left: 100%; /* Colocar el submenú anidado a la derecha del elemento padre */
    background-color: white; /* Fondo del submenú anidado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 0;
}

/* Mostrar el submenú anidado al pasar el mouse sobre su elemento padre */
.submenu li:hover > .submenuAni {
    display: block; /* Mostrar el submenú anidado al pasar el mouse */
}

/*ICONOS*/

.icon {
    background: none;
    border: none;
    font-size: 2rem;
    margin-right: 0.5rem;
    cursor: pointer;
    color: #033076;
}

.icon:hover {
    color: #1464F6;  
}


/* DIV DE FILTRO Y ICONOS DE PERFIL, NOTIFI, MENSAJES  */

#search-input {
    padding: 5px;
    font-size: 16px;
    border: 2px solid #C9D3DD;
    border-radius: 15px 0 0 15px;
    outline: none;
}

#filtro-boton {
    background: #033076;
    border: 2px solid #033076;
    border-left: none;
    border-radius: 0 15px 15px 0;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

#filtro-boton:hover {
    background: #1464F6;
    border-color: #1464F6;
}



/*TITULO*/
#tituloRegistro {
    margin-left: 2%; /* Ajusta este valor según tus necesidades */      
}

/* 🎨 Clases para Texto */
.text-azul-institucional {
    color: #033076 !important;
}

.text-azul-claro-institucional {
    color: #75A9F9 !important;
}

.text-verde-institucional {
    color: #30B32E !important;
}

.text-verde-claro {
    color: #DDF0D1 !important;
}

.text-gris-oscuro {
    color: #aaaaaa !important;
}

.text-gris-claro {
    color: #EFF0F4 !important;
}

.text-rojo-oscuro {
    color: #F85F6A !important;
}

.text-rojo-claro {
    color: #FFE9EE !important;
}

.text-amarillo-oscuro {
    color: #FFE533 !important;
}

.text-amarillo-claro {
    color: #FFFBCC !important;
}

/* 🎨 Clases para Fondos */
.bg-azul-institucional {
    background-color: #033076 !important;
}

.bg-azul-claro-institucional {
    background-color: #75A9F9 !important;

}

.bg-verde-institucional {
    background-color: #30B32E !important;

}

.bg-verde-claro {
    background-color: #DDF0D1 !important;

}

.bg-gris-oscuro {
    background-color: #aaaaaa !important;

}

.bg-gris-claro {
    background-color: #EFF0F4 !important;

}

.bg-rojo-oscuro {
    background-color: #F85F6A !important;

}

.bg-rojo-claro {
    background-color: #FFE9EE !important;

}

.bg-amarillo-oscuro {
    background-color: #FFE533 !important;

}

.bg-amarillo-claro {
    background-color: #FFFBCC !important;
}


/* Bordes con colores personalizados */

/* Azul Institucional */
.border-azul-institucional {
    border-color: #033076 !important;
}

/* Azul Claro Institucional */
.border-azul-claro-institucional {
    border-color: #75A9F9 !important;
}

/* Verde Institucional */
.border-verde-institucional {
    border-color: #30B32E !important;
}

/* Verde Claro */
.border-verde-claro {
    border-color: #DDF0D1 !important;
}

/* Gris Oscuro */
.border-gris-oscuro {
    border-color: #aaaaaa !important;
}

/* Gris Claro */
.border-gris-claro {
    border-color: #EFF0F4 !important;
}

/* Rojo Oscuro */
.border-rojo-oscuro {
    border-color: #F85F6A !important;
}

/* Rojo Claro */
.border-rojo-claro {
    border-color: #FFE9EE !important;
}

/* Amarillo Oscuro */
.border-amarillo-oscuro {
    border-color: #FFE533 !important;
}

/* Amarillo Claro */
.border-amarillo-claro {
    border-color: #FFFBCC !important;
}

.border-azul-claro {
    border-color:#1464F6  !important; /* Más oscuro */
}

/* 🎨 Botones con fondo personalizado */

/* 🔹 Azul Institucional */
.btn-azul-institucional {
    background-color: #033076 !important;
}
.btn-azul-institucional:hover {
    background-color:#1464F6  !important; /* Más oscuro */
}

/* 🔹 Azul Claro Institucional */
.btn-azul-claro-institucional {
    background-color: #75A9F9 !important;
}
.btn-azul-claro-institucional:hover {
    background-color: #4D8BEF !important; /* Más oscuro */
}

/* 🔹 Verde Institucional */
.btn-verde-institucional {
    background-color: #30B32E !important;
}
.btn-verde-institucional:hover {
    background-color: #1E7A1D !important; /* Más oscuro */
}

/* 🔹 Verde Claro */
.btn-verde-claro {
    background-color: #DDF0D1 !important;
}
.btn-verde-claro:hover {
    background-color: #B5D8A9 !important; /* Más oscuro, pero manteniendo claridad */
}

/* 🔹 Gris Oscuro */
.btn-gris-oscuro {
    background-color: #606060 !important;
}
.btn-gris-oscuro:hover {
    background-color: #aaaaaa !important; /* Más oscuro */
}

/* 🔹 Gris Claro */
.btn-gris-claro {
    background-color: #EFF0F4 !important;
}
.btn-gris-claro:hover {
    background-color: #D0D1D4 !important; /* Más oscuro, pero manteniendo claridad */
}

/* 🔹 Rojo Oscuro */
.btn-rojo-oscuro {
    background-color: #F85F6A !important;
}
.btn-rojo-oscuro:hover {
    background-color: #D94852 !important; /* Más oscuro */
}

.btn-rojo-oscuro-in {
    background-color: #a5000b !important;
}
.btn-rojo-oscuro-in:hover {
    background-color: #ff0000 !important; /* Más oscuro */
}

/* 🔹 Rojo Claro */
.btn-rojo-claro {
    background-color: #FFE9EE !important;
}
.btn-rojo-claro:hover {
    background-color: #FFCCD6 !important; /* Más oscuro, pero manteniendo claridad */
}

/* 🔹 Amarillo Oscuro */
.btn-amarillo-oscuro {
    background-color: #FFE533 !important;
}
.btn-amarillo-oscuro:hover {
    background-color: #E5C600 !important; /* Más oscuro */
}

/* 🔹 Amarillo Claro */
.btn-amarillo-claro {
    background-color: #FFFBCC !important;
}
.btn-amarillo-claro:hover {
    background-color: #F0E59C !important; /* Más oscuro, pero manteniendo claridad */
}


/*PAGINA DE INICIO*/

/* CARRUSEL DE IMAGENES */

.carusel {
    position: relative; /* Permite posicionar los elementos hijos absolutamente dentro del carrusel */
    width: 100%; /* Ancho completo del carrusel */
    max-width: 600px; /* Ancho máximo del carrusel */
    /*margin: auto; /* Centrar el carrusel horizontalmente y agregar margen superior e inferior */
    overflow: hidden; /* Ocultar contenido que se desborda fuera del carrusel */
    border: 2px solid #C9D3DD; /* Borde del carrusel de 2px con color específico */
    border-radius: 10px; /* Bordes redondeados del carrusel */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Sombra para dar un efecto de elevación */
}

.carusel-images {
    display: flex; /* Usar flexbox para alinear imágenes en una fila */
}

.carusel-images img {
    width: 100%; /* Ancho de cada imagen igual al del carrusel */
    height: auto; /* Altura automática para mantener la proporción de la imagen */
    border-right: 2px solid #fff; /* Borde derecho de 2px entre las imágenes */
}

.carusel-boton {
    position: absolute; /* Posicionamiento absoluto respecto al carrusel */
    top: 50%; /* Centrar verticalmente el botón dentro del carrusel */
    transform: translateY(-50%); /* Ajustar la posición para centrar exactamente el botón */
    background-color: rgba(0, 0, 0, 0.1); /* Fondo semitransparente para el botón */
    border: none; /* Sin borde alrededor del botón */
    color: #C9D3DD; /* Color del texto del botón */
    padding: 1rem; /* Espaciado interno del botón */
    cursor: pointer; /* Cambiar el cursor a un puntero al pasar sobre el botón */
    font-size: 2rem;
    border-radius: 10px; /* Bordes redondeados del carrusel */
    z-index: 10; /* Dale un z-index alto */
}

.carusel-boton.prev {
    left: 0; /* Posicionar el botón "prev" en el lado izquierdo del carrusel */
}

.carusel-boton.next {
    right: 0; /* Posicionar el botón "next" en el lado derecho del carrusel */
}

.carusel-boton.prev:hover {
    background: rgba(0, 0, 0, 0.3);
}

.carusel-boton.next:hover {
    background: rgba(0, 0, 0, 0.3);
}

/* DIV NOTIFI Y CARUSEL */

#caruselnotifi {
    display: flex;
    padding: 5rem;
    justify-content: space-around;
}

/* VENTANA DE NOTIFICACIONES */

.ventanotifi {
    width: 350px; /* Ancho de la ventana de notificaciones */
    padding: 1rem; /* Espaciado interno de la ventana */
    border: 1px solid #C9D3DD; /* Borde de la ventana de notificaciones */
    border-radius: 10px; /* Bordes redondeados */
    background-color: white; /* Color de fondo de la ventana de notificaciones */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar un efecto de elevación */
}

.ventanotifi h2 {
    margin-top: 0; /* Eliminar el margen superior del título */
    color: #033076; /* Color del texto del título */
}

.ventanotifi p {
    margin: 1rem 0; /* Margen superior e inferior para el párrafo */
    color: #333; /* Color del texto del párrafo */
    font-weight: 1000;          /* Negrilla*/
}

#botonrevis {
    display: block; /* Mostrar el botón como un bloque */
    width: 50%; /* Ancho completo del botón */
    padding: 0.5rem; /* Espaciado interno del botón */
    border: none; /* Sin borde alrededor del botón */
    border-radius: 8px; /* Bordes redondeados del botón */
    background-color: #033076; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    cursor: pointer; /* Cambiar el cursor a un puntero al pasar sobre el botón */
    text-align: center; /* Centrar el texto dentro del botón */
    font-weight: 1000;          /* Negrilla*/
}

#botonrevis:hover {
    background-color: #1464F6; /* Cambiar el color de fondo al pasar el ratón sobre el botón */
}

#navnotifi {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#navnotifi a {
    text-decoration: none;    /* Elimina el subrayado de los enlaces */
    color: #333;              /* Color del texto de los enlaces */
    text-align: left;
    padding: 1rem;           /* Espacio interno */
    padding-left: 0;
}

#navnotifi a:hover {
    color: #1464F6;           /* Color de los enlaces al pasar el ratón */
    font-weight: 1000;          /* Negrilla*/
}

/*FIN DE PAGINA DE INICIO*/














/* STYLES DEISI */

.registro-container .row {
    display: flex; /* Activa Flexbox */
    gap: 0; /* Asegura que no haya espacio entre las columnas si usas g-0 */
}

.registro-container .card-custom {
    border: 2px solid #033076; /* Azul institucional */
    padding: 15px;
    border-radius: 10px;
    background-color: #f5f5f5; /* Fondo gris claro */
    height: 100%; /* Mantiene la misma altura */
}

.registro-container .card-custom h5 {
    color: #033076 !important; /* Azul institucional */
    font-weight: bold;
}

.registro-container .card-custom p {
    color: #033076 !important; /* Azul institucional */
}

.registro-container .col-md-7, .col-md-5 {
    display: flex;
    flex-direction: column; /* Organiza el contenido verticalmente */
}

.registro-container .btn-save {
    background-color: #033076;
    color: white;
}

.registro-container .profile-pic-container {
    border: 2px dashed #ccc;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

.registro-container .profile-pic-container:hover {
    border-color: #033076;
}

.registro-container .input-group {
    flex-wrap: nowrap; /* Asegura que los elementos no se desplacen */
}

@media (max-width: 768px) {
    .registro-container    .input-group {
        flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    }
}
















/*------------------------------ESTILOS RUBEN--------------------------------*/


                                                         /*--------ESTILOS PARA TODAS LAS PANTALLAS--------*/

/* estilos para todo el cuerpo del documento */
#mod-agenda,
.mod-calculadora,
.mod-correoInterno,
.mod-registroInspeccion,
.mod-registroUsuario {/*cuerpo de la pagina*/
    font-size: 15px;/*tamaño de fuente para todo el texto de la ventana*/
    color: #033076;/*color de fuente*/
}
/* Establece el tamaño de la fuente a 12px en todos los parrafo*/
.mod-agenda p,
.mod-calculadora p,
.mod-correoInterno p,
.mod-registroInspeccion p,
.mod-registroUsuario p {/*parrafo*/
    font-size: 14px;/*tamaño de fuente*/ 
}

/*estilos para los iconos(en general,interacción,click)*/
.mod-agenda i,
.mod-calculadora i,
.mod-correoInterno i,
.mod-registroInspeccion i,
.mod-registroUsuario i {
    color: #033076;/*color a primera vista en un icono*/ 
}
.mod-agenda i:hover,
.mod-calculadora i:hover,
.mod-correoInterno i:hover,
.mod-registroInspeccion i:hover,
.mod-registroUsuario i:hover {
    color: #0d6efd; /* color al interactuar con el botón */
}

.mod-agenda i:active,
.mod-calculadora i:active,
.mod-correoInterno i:active,
.mod-registroInspeccion i:active,
.mod-registroUsuario i:active {
    color: #033076; /* color al dar click */
}




                                                           /*----------ESTILOS REGISTRO DE USUARIO---------------*/
 /*estilo de la primer barra*/                                                          
#rowazul {
    height: 40px;

/*estilos segunda barra gris*/
}                                                          
.gris {
    background-color: #EFF0F4;/*color de fondo*/
    width: 100%;/*largor*/
    max-width: 100%;/*maxima ocupaciíon de su contenido*/
    display: flex;/*caja flexible a los cambios de tamaño*/
    align-items: center;/*alineación vertical centrada*/
    justify-content: end; /*alineacion horizontal al final derecho*/
    border-bottom: 2px solid #0d6efd;/*borde abajo color azul*/
}

/*estilos barra de navegacion*/
.navbar-inicio {
    display: flex;/*caja flexible*/
    align-items: center;/*alineacion centrada de sus objetos*/
    height: 40px;/*altura*/
}

/*estilos container de enlaces*/
.navbar-menu {
    list-style: none;/*estilo de letra, ninguno*/
    display: flex;/*caja flexible*/
    gap: 40px;/*espacio entrre los elementos*/
    margin: 0;/*margen*/
    padding: 0 20px;/*margen al interior del container*/
}

/*estilos de los items de navbar*/
.navbar-menu li {
    display: flex;
}

/*estilo de los enlaces de navbar*/
.navbar-menu li a {
    font-size: 20px;/*tamaño de letra*/
    color: #30B32E;
    text-decoration: none;/*decoracion de letra, ninguna*/
}




#rowAcceder {
    border-bottom: 2px solid #747373; /* Cambia #000 por el color que desees */
}

/*columna que encierra el container de inicio de sesión*/
#colAcceder {
    background-color: white;/*color de fondo*/
    display: flex;/*un container flexible o flexbox*/
    flex-direction: column;/*alinea los elementos internos en columna*/
    align-items: center;/*centra verticalmente los elementos*/
    justify-content: center;/*centra horizontalmente los elementos*/
    margin-top: 5px;/*espacio entre el objeto y lo que haya arriba*/
}

#titleA {/*titulo acceder, color verde*/
    color: #30B32E;
}

/*container que contiene los elementos del formulario*/
.form-contenido {
    width: 100%; /*usa todo el espacio del container donde esté  ubicado*/ 
    max-width: 450px;/*el tamaño horizontal del elemento*/
    border-radius: 5px;/*radio redondado a 5 unidades*/
    background: #EFF0F4;/*color gris claro*/
}

/*container para agrupar los elementos del formulario*/
#grupoFormularios {
    display: flex;/*un container flexible o flexbox*/
    flex-direction: column;/*alinea los placeholders en forma de columna*/
}
/*container del icono*/
#colAcceder .input-icon {
    position: relative;/*permite que su posición se ubique a lado del placeholder*/
    width: 100%;/*usa todo el espacio del container donde esté  ubicado*/
    display: flex;/*un container flexible o flexbox que alinea los elementos juntos en su agrupacion determinada*/
    align-items: center;/*centra verticalmente los elementos*/
    gap: 8px;/* Agrega espacio entre los elementos */
}

/*estilos de los elementos del placeholder*/
#colAcceder .input-field input::placeholder {
    color: gray;/*color del texto representativo*/
}

#colAcceder .btn-field {
    display: flex; /* Usamos flexbox para alinear los botones */
    flex-direction: column;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 20px; /* Agrega espacio entre los botones */
}

/*estilos para el boton ingresar*/
 #btnIngresar {
    background-color: #033076;/*color de fondo*/
    color: white;/*color del texto*/
}
#btnIngresar:hover {/*estilo al interactuar con el boton*/
    background-color: #0d6efd;
}
#btnIngresar:active {/*estilos al accionar el boton*/
    background-color:#033076;
}

/*estilos para el boton registrarse*/
#btnReg {
    background-color: white;/*color de fondo*/
    color: #033076;/*color del texto*/
    border: 1px solid #033076;/*borde del boton*/
}
#btnReg:hover {/*estilo al interactuar con el boton*/
    background-color: #0d6efd;
    color: white;
    border: 1px solid white;
}
#btnReg:active {/*estilos al accionar el boton*/
    background-color:#033076;
}

#rowContactenos {
    display: flex;/* container flexible */
    justify-content: space-between; /* forma espacio entre las 03 columnas*/
    width: 100%;/* Asegura que ocupe todo el ancho disponible*/
}

/*estilos de los placeholders de contactenos*/
#camposContacto {
    display: flex;/*caja flexible*/
    flex-direction: column;/*organizacion en columna*/
    align-items: left;/*alineacion vertical hacia la izquierda*/
    max-width: 70%;/*ocupacion del interior horizontal de los elenmentos del container*/
    gap: 20px;/*espaciado entre los elemenstos*/
}

/*estilos de los elementos del placeholder*/
#colContactenos .input-field input::placeholder {
    color: gray;/*color del texto representativo*/
}
/*estilo boton enviar de contactenos*/
#colContactenos .btn {
    background-color: #033076;
    border: none;
    color: white;
}
/*estilos del boton enviar al interactuar con el mouse*/
#colContactenos .btn:hover {
    background-color: #0d6efd;
}
/*estilos al accionar el click*/
#colContactenos .btn:active {
    background-color:#033076;
}
/*estilos del coltainer del mapa*/
#colMapa {
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/*estilos para el pie de pagina*/
footer {
    background-color: #EFF0F4; /* Fondo claro para el pie de página */
    text-align: center;
}

/*estilos para el boton de playstore*/
.playstore-button {
    display: inline-block;
    background-color: #34A853; /* Play Store's green color */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

/*estilos oara el icno de playstore*/
.playstore-button i {
    margin-right: 10px;
    font-size: 24px;
}


/*estilos de interaccion boton playstore*/
.playstore-button:hover {
    background-color: #2b8a3e;
}


















                                                           /*----------ESTILOS CORREO INTERNO---------------*/


/* Estilo para el contenedor central de la pantalla*/
#containerCorreo {
    max-width: 600px;
    margin-top: 20px;
    background-color: #EFF0F4;
    border: 1px solid #033076;
    border-radius: 5px;
}

/* Estilo para el boton (enviar) ubicado dentro del conetedor de correo*/
#containerCorreo .btn {
    background-color: #033076;
    border: none;
}
#containerCorreo .btn:hover {
    background-color: #0d6efd;
}
#containerCorreo .btn:active {
    background-color:#033076;
}
































                                                            /*----------ESTILOS REGISTRO DE INSPECCIÓN---------------*/

#titulo {
    margin-left: 2%; /* Ajusta este valor según tus necesidades */      
}


/*--------CONTAINER DE FORMULARIOS---------*/

/*primer columna*/
#fila, #columnaRegistro {
    padding: 5rem; /*espacio entre el margen de un contenedor y sus elementos internos*/
    background-color: #EFF0F4;/*color de fondo gris claro*/
    border: 0.1px solid #033076;/*da borde a la columna 1*/
    border-top-left-radius: 5px;/* el borde izquierdo-arriba de la columna es redondeado en 5px*/
    border-bottom-left-radius: 5px;/*el borde izquierdo-abajo es redondeado en 5px*/
}

/*segunda columna*/
#columnaCalendario { /*enlace para editar los dos contenedores de la fila*/
    padding: 5rem; /*espacio entre el margen de un contenedor y sus elementos internos*/
    background-color: #EFF0F4;/*color de fondo gris claro*/
    border: 0.1px solid #033076;/*da borde a la columna 2*/
    border-end-end-radius: 5px;/* el borde derecho-abajo de la columna es redondeado en 5px*/
    border-top-right-radius: 5px;/* el borde derecho-arriba de la columna es redondeado en 5px*/
}


@media (max-width: 768px) {
    .calendarioRegistro {
      padding: 10px; /* Reduce el padding en pantallas pequeñas */
    }
    .day, .date {
      font-size: 14px; /* Disminuye el tamaño de fuente */
    }
  }
  
/*cestilos calendario*/
#calendarioRegistro {
display: flex;/*un contenedor flexible para que sus elementos se acoplen de forma responsiva*/
flex-direction: column;/*columna flexible para apilar elementos uno bajo el otro*/
padding: 2px;/*espacio entre el margen de un contenedor y sus elementos internos*/
background: #0d6efd;/*color de fondo*/
border-radius: 7px;/* el borde del calendario redondeado en 7px*/
box-shadow: 0 0 5px rgba(0,0,0,0.3);/*sombra detras del calendario*/
}

#headerCalendarioRegistro {/*encabezado del calendario*/
    display: flex;/*flexible segun el tamaño de pantalla*/
    justify-content: space-between;/*espacio entre los elementos dentro del header, distribuyendolos por igual horizontalmente*/
    align-items: center;/*centra verticalmente los elementos*/
    padding: 10px;/*margen interno entre el contenedor y los elementos en su interior*/
    background-color: #033076;/*color de fondo*/
    border-radius: 6px;/* el borde del calendario redondeado en 6px*/
    margin-top: 1px;/*margen hacia arriba*/
    
}

.monthYear {/*texto del mes y año del calendario*/
    text-align: center;/*centra verticalmente los elementos*/
    font-weight: 800;/*tamaño de la fuente de la letra*/
    width: 150px;/*tamaño del contenedor de la letra*/
    color: white;/*color del texto dentro del header*/

}

.header button {/*botones del encabezado*/
    display: flex;/*flexibles segun el tamaño de panrtalla*/
    align-items: center;/*centra verticalmente los elementos*/
    justify-content: center;/*espacio entre los elementos dentro del header, distribuyendolos por igual horizontalmente*/
    border: none;/*sin borde pronunciado*/
    border-radius: 15%;/*borde redondeado en un 15%*/
    background: #fff;/*color de fondo*/
    cursor: pointer;/*efecto que logra mostrar una mano señalando al objeto*/
    width: 30px;/*tamaño horizontal del boton*/
    height: 30px;/*tamaño vertical del boton*/
    box-shadow: 0 0 4px rgba(0,0,0,0.2);/*sombra detras del boton*/
}

/*estilos para botones de previo y siguiente(en general,interacción,click)*/
#prevBtn:active {/*estilo al clickear un boton*/
    background-color: #c6c7c7;
    color: white;
}

#nextBtn:active {/*estilo al clickear un boton*/
    background-color: #c6c7c7;
    color: white;
}



.days {/*cuadricula para acomodar los dias de la semana*/
    display: grid;/*definición de una cuadricula tipo grid*/
    grid-template-columns: repeat(7,1fr);/*esta cuadricula contiene 7 divisiones y cada una mide 1 unidad*/
}

.day {/*configuracion de cada uno de los elementos dentro de la cuadricula grid*/
    text-align: center;/*centra verticalmente los elementos*/
    padding: 2px;/*espacio entre los elementos dentro del header, distribuyendolos por igual horizontalmente*/
    color: white;/*color de letra*/
    font-weight: 800;/*tamaño de letra*/
}

.dates {/*estilo del grupo de dias del mes*/
    display: grid;/*definición de una cuadricula tipo grid*/
    grid-template-columns: repeat(7,1fr);/*esta cuadricula contiene 7 divisiones y cada una mide 1 unidad*/
    gap: 1px;/*espacio al rededor de cada unidad*/
    color: white;/*color de los numeros*/
}

.date {/*estilo de cada uno de los dias del mes*/
    display: flex;/*flexible segun el tamaño de pantalla*/
    align-items: center;/*centra verticalmente los elementos*/
    justify-content: center;/*espacio entre los elementos dentro del header, distribuyendolos por igual horizontalmente*/
    text-align: center;/*centra verticalmente los elementos*/
    padding: 10px;/*margen interno entre el contenedor y los elementos en su interior*/
    margin: auto;/*centra horizontalmente los elementos*/
    cursor: pointer;/*efecto que logra mostrar una mano señalando al objeto*/
    font-weight: 530;/*tamaño de la fuente de la letra*/
    border-radius: 20%;/*borde redondeado en un 50%*/
    width: 33px;/*tamaño horizontal de los elementos*/
    height: 30px;/*tamaño vertical de los elementos*/
    transition: 0.2s;
}

/*estilos para los botones activos del calendario, osea las fechas del mes*/
.date:hover {/*estilo en interaccion con botones*/
    background: white;/*color de fondo*/
    color: #0d6efd;/*color de letra*/
}

.date:active {/*estilo al clickear un boton*/
    background: #033076;/*color de fondo*/
    color: white;/*color de letra*/
}

/*estilos para los botones inacactivos del calendario, osea las fechas que no son del mes*/
.date.inactive {/*estilo al dejar de tocar un boton*/
    color: #8eb4b4;/*color de letra*/

}

.date.inactive:hover {/*estilo en interaccion con botones*/
    background: white;/*color de fondo*/
    color: #0d6efd;/*color de letra*/
}

.date.inactive:active {/*estilo en interaccion con botones*/
    background: #033076;/*color de fondo*/
    color: white;/*color de letra*/
}














                                                                       /*----------------ESTILOS AGENDA----------------------*/


/*---PRIMER CONTAINER GRIS---*/

/*primer columna gris del container central*/
#columnaAgenda {
    padding: 2rem; /*espacio entre el margen de un contenedor y sus elementos internos*/
    background-color: #EFF0F4;/*color de fondo gris claro*/
    border: 0.1px solid #033076;/*da borde a la columna 1*/
    border-top-left-radius: 5px;/* el borde izquierdo-arriba de la columna es redondeado en 5px*/
    border-bottom-left-radius: 5px;/*el borde izquierdo-abajo es redondeado en 5px*/
    
}  

@media (max-width: 90%) {
    .calendarioAgenda {
      padding: 10px; /* Reduce el padding en pantallas pequeñas */
    }
    .day, .date {
      font-size: 14px; /* Disminuye el tamaño de fuente */
    }
  }

/*estilos del container que contiene las fechas*/
#calendarioAgenda {
display: flex;/*un contenedor flexible para que sus elementos se acoplen de forma responsiva*/
width: 100%;
flex-direction: column;/*columna flexible para apilar elementos uno bajo el otro*/
padding: 2px;/*espacio entre el margen de un contenedor y sus elementos internos*/
background: #0d6efd;/*color de fondo*/
border-radius: 7px;/* el borde del calendario redondeado en 7px*/
box-shadow: 0 0 5px rgba(0,0,0,0.3);/*sombra detras del calendario*/
}

#headerCalendarioAgenda {/*encabezado del calendario*/
    display: flex;/*flexible segun el tamaño de pantalla*/
    justify-content: space-between;/*espacio entre los elementos dentro del header, distribuyendolos por igual horizontalmente*/
    align-items: center;/*centra verticalmente los elementos*/
    padding: 10px;/*margen interno entre el contenedor y los elementos en su interior*/
    background-color: #033076;/*color de fondo*/
    border-radius: 6px;/* el borde del calendario redondeado en 6px*/
    margin-top: 1px;/*margen hacia arriba*/
}

#monthYearAgenda {/*texto del mes y año del calendario*/
    text-align: center;/*centra verticalmente los elementos*/
    font-weight: 600;/*tamaño de la fuente de la letra*/
    width: 120px;/*tamaño del contenedor de la letra*/
    color: white;/*color del texto dentro del header*/
}

#calendarioAgenda .header button {/*botones del encabezado*/
    display: flex;/*flexibles segun el tamaño de panrtalla*/
    align-items: center;/*centra verticalmente los elementos*/
    justify-content: center;/*espacio entre los elementos dentro del header, distribuyendolos por igual horizontalmente*/
    border: none;/*sin borde pronunciado*/
    border-radius: 15%;/*borde redondeado en un 15%*/
    cursor: pointer;/*efecto que logra mostrar una mano señalando al objeto*/
    width: 30px;/*tamaño horizontal del boton*/
    height: 30px;/*tamaño vertical del boton*/
    box-shadow: 0 0 4px rgba(0,0,0,0.2);/*sombra detras del boton*/
}

/*estilos para botones de previo y siguiente(en general,interacción,click)*/
#prevBtnAgenda:active {/*estilo al clickear un boton*/
    background-color: #c6c7c7;
    color: white;
}

#nextBtnAgenda:active {/*estilo al clickear un boton*/
    background-color: #c6c7c7;
    color: white;
}



.days {/*cuadricula para acomodar los dias de la semana*/
    display: grid;/*definición de una cuadricula tipo grid*/
    grid-template-columns: repeat(7,1fr);/*esta cuadricula contiene 7 divisiones y cada una mide 1 unidad*/
}

#calendarioAgenda .day {/*configuracion de cada uno de los elementos dentro de la cuadricula grid*/
    text-align: center;/*centra verticalmente los elementos*/
    padding: 2px;/*espacio entre los elementos dentro del header, distribuyendolos por igual horizontalmente*/
    color: white;/*color de letra*/
    font-weight: 500;/*tamaño de letra*/
}

.datesAgenda {/*estilo del grupo de dias del mes*/
    display: grid;/*definición de una cuadricula tipo grid*/
    grid-template-columns: repeat(7,1fr);/*esta cuadricula contiene 7 divisiones y cada una mide 1 unidad*/
    gap: 1px;/*espacio al rededor de cada unidad*/
    color: white;/*color de los numeros*/
}

#calendarioAgenda .date {/*estilo de cada uno de los dias del mes*/
    display: flex;/*flexible segun el tamaño de pantalla*/
    align-items: center;/*centra verticalmente los elementos*/
    justify-content: center;/*espacio entre los elementos dentro del header, distribuyendolos por igual horizontalmente*/
    text-align: center;/*centra verticalmente los elementos*/
    padding: 10px;/*margen interno entre el contenedor y los elementos en su interior*/
    margin: auto;/*centra horizontalmente los elementos*/
    cursor: pointer;/*efecto que logra mostrar una mano señalando al objeto*/
    font-weight: 330;/*tamaño de la fuente de la letra*/
    border-radius: 20%;/*borde redondeado en un 50%*/
    width: 30px;/*tamaño horizontal de los elementos*/
    height: 30px;/*tamaño vertical de los elementos*/
    transition: 0.2s;
}

/*estilos para los botones activos del calendario, osea las fechas del mes*/
#calendarioAgenda .date:hover {/*estilo en interaccion con botones*/
    background: white;/*color de fondo*/
    color: #0d6efd;/*color de letra*/
}

#calendarioAgenda .date:active {/*estilo al clickear un boton*/
    background: #033076;/*color de fondo*/
    color: white;/*color de letra*/
}

/*estilos para los botones inacactivos del calendario, osea las fechas que no son del mes*/
#calendarioAgenda .date.inactive {/*estilo al dejar de tocar un boton*/
    color: #8eb4b4;/*color de letra*/

}

#calendarioAgenda .date.inactive:hover {/*estilo en interaccion con botones*/
    background: white;/*color de fondo*/
    color: #0d6efd;/*color de letra*/
}

#calendarioAgenda .date.inactive:active {/*estilo en interaccion con botones*/
    background: #033076;/*color de fondo*/
    color: white;/*color de letra*/
}


/*estilos para el boton registrar*/
#botonRegistrar {/*estilo del boton en apariencia*/
    background-color: #033076;
    color: white;
}
#botonRegistrar:hover {/*estilo en interaccion con botones*/
    background-color: #0d6efd;
    color: white;
}

#botonRegistrar:active {/*estilo en interaccion con botones*/
    background-color: #033076;
    color: white;
}



/*---SEGUNDO CONTAINER GRIS---*/


/*estilos de la segunda columna gris del container central*/
#columnaCalendarioAgenda { /*enlace para editar los dos contenedores de la fila*/
    background-color: #EFF0F4;/*color de fondo gris claro*/
    border: 0.1px solid #033076;/*da borde a la columna 2*/
    border-end-end-radius: 5px;/* el borde derecho-abajo de la columna es redondeado en 5px*/
    border-top-right-radius: 5px;/* el borde derecho-arriba de la columna es redondeado en 5px*/
}

/* Estilos generales para el calendario */
#calendar {
    display: flex; /* Un contenedor flexible para que sus elementos se acoplen de forma responsiva */
    padding: 10px; /* Espacio entre el margen de un contenedor y sus elementos internos */
    background: #f4f4f4; /* Color de fondo del calendario */
    border-radius: 7px; /* Bordes redondeados del calendario */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra detrás del calendario */
    color: #033076; /* Color del texto */
    border: 0.2px solid #033076;
    
}

/* Estilo del header del calendario */
.fc-header-toolbar {
    display: flex; /* Disposición flexible según el tamaño de pantalla */
    align-items: center; /* Centrado vertical de los elementos */
    margin-top: 3%; /* Márgenes hacia arriba */
    font-size: 90%; /* Ajuste del tamaño de la fuente */
}

.fc-button {
    background-color: #033076 !important;
    border: 0.2px solid white !important;
}


/*estilos eevento de inspeccion agendada*/
#agendada {
    background-color: #75A9F9;
}

/*estilos eevento de inspeccion rechazada*/
#rechazada {
    background-color: #f48e8e;
}

/*estilos eevento de inspeccion en proceso*/
#enProceso {
    background-color: rgb(244, 211, 150);
}

/*estilos eevento de inspeccion completa*/
#completa {
    background-color: rgb(149, 223, 149);
}

/* Colores personalizados para cada tipo de evento */
.fc-event[style*="background-color: lightblue"] {
    background-color: #75A9F9 !important;
    cursor: pointer;
}

.fc-event[style*="background-color: red"] {
    background-color: #f48e8e !important;
    cursor: pointer;
}

.fc-event[style*="background-color: orange"] {
    background-color: rgb(244, 211, 150) !important;
    cursor: pointer;
}

.fc-event[style*="background-color: green"] {
    background-color: rgb(149, 223, 149) !important;
    cursor: pointer;
}

















                                                                /*----------------ESTILOS CALCULADORA----------------------*/



/*estilos para la columna que alberga a la calculadora*/
#fila, #columnaCalc {
    background-color: #EFF0F4;/*color de fondo*/
    border: 0.1px solid #033076;/*borde para el container*/
    border-radius: 5px;/*borde redondeado*/
    justify-content: center;/*alineacion horizontal centrada*/
    align-items: center;/*alineacion vertical centrada*/
    padding: 20px;/*margen interno de 20 unidades*/
    
}

/*estilos de calculadora*/
.calculator {
    background-color: #fff;/*color de fondo*/
    padding: 20px;
    border: 1px solid #033076;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;   /* Asegura que ocupe todo el ancho disponible */
    max-width: 350px;  /* Establece un ancho máximo */
    height: 350px;/*tamnaño vertical*/
    margin: 0 auto;
    margin-top: 4px;/*margen para separarse de su vecino superior*/
}

/*estilos para el display*/
#displayCalc {
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #033076;
    border-radius: 5px;
    background: #EFF0F4;
}

/*estilos para la cuadricula de los botones*/
#buttonsCalc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: flex-end;
}

/*estilos para los botones*/
#buttonsCalc .btn {
    padding: 6px;
    font-size: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;/*personalizacion del cursor*/
    transition: background-color 0.3s;/*transiciones para los botones*/
    color: #033076;
}


/*estilos para interaccion con los botones*/
#buttonsCalc .btn:hover {
    background: #0d6efd;
    color: #EFF0F4;
}

/*estilos al accionar un boton*/
#buttonsCalc .btn:active {
    background: white;
    color: #033076;
}

/*estilos para los botones operadores*/
#buttonsCalc .operator {
    background-color: #f4e864;
    color: #033076;
}

/*estilos al interactuar con el boton operador*/
#buttonsCalc .operator:hover {
    background-color: #f57f17;
}

/*estilos al accionar el boton operador*/
#buttonsCalc .operator:active {
    background-color: white;
}
